<!DOCTYPE html>
<div>
	<div style="text-align: center" class="mb-6 mt-4 space-x-8">
		<button *ngIf="signer" class="font-sans bg-green-400 border border-gray-500 rounded-xl text-xs p-1 hover:bg-green-600 active:bg-gray-400">Connected</button>
		<button *ngIf="!signer" class="font-sans bg-yellow-400 border border-gray-500 rounded-xl text-xs p-1 hover:bg-gray-300 active:bg-gray-400">Connect wallet</button>
		<button (click)="connectToBallot(box.value)" class="font-sans border border-gray-500 rounded-xl text-xs p-1 hover:bg-gray-300 active:bg-gray-400">Connect Ballot</button>
	</div>
	<div>
		<div style="text-align: center" class="m-2">
			<input #box type="text" placeholder="Ballot address..." name="ballot" class="font-mono text-sm p-2 border rounded-md border-black outline-black">
		</div>
		<pre style="text-align: center">
____        _ _       _               _
|  _ \      | | |     | |             | |
| |_) | __ _| | | ___ | |_   ___  ___ | |
|  _ < / _` | | |/ _ \| __| / __|/ _ \| |
| |_) | (_| | | | (_) | |_ _\__ \ (_) | |
|____/ \__,_|_|_|\___/ \__(_)___/\___/|_|
		</pre>
	<div class="flex justify-center space-x-2">
		<p *ngIf="ballotContract" style="text-align: center">Connected to </p>
		<a *ngIf="ballotContract" href="https://goerli.etherscan.io/address/{{ ballotContract.address }}">
			<p *ngIf="ballotContract" class="font-mono underline">{{ ballotContract.address }}</p>
		</a>
	</div>
	</div>
	<div class="flex justify-around mt-6">
		<div style="text-align: center" class="border rounded-md w-72">
			<h1 class="font-sans font-bold underline">User Stats</h1>
			<div class="m-4">
				<p class="font-mono mb-2">ETH Balance: {{ this.etherBalance?.toFixed(3) }}</p>
				<p class="font-mono mb-2">Token Balance: {{ this.tokenBalance?.toFixed(2) }}</p>
				<p class="font-mono mb-2">Voting Power: {{ this.votingPower?.toFixed(2) }}</p>
				<button (click)="claimTokens()" class="mt-3 p-2 text-white text-sm font-sans border rounded-xl bg-blue-500">Claim 10 Tokens</button>
				<div class="font-mono flex justify-between mt-8">
					<p class="mt-1">Delegate to:</p>
				</div>
				<div class="font-mono flex justify-center mt-4">
					<input #delegatee type="text" class="text-xs p-2 border rounded-md">
				</div>
				<button (click)="delegate(delegatee.value)" class="mt-6 p-2 font-sans text-white text-xs border rounded-full bg-blue-500">Go</button>
			</div>
		</div>
		<div style="text-align: center" class="border rounded-md w-72">
			<h1 class="font-sans font-bold underline">Ballot</h1>
			<div style="text-align: start" class="m-4">
				<div *ngIf="proposals[0]" class="flex justify-between">
					<p class="font-mono mb-2">1. {{ proposals[0] }}</p>
					<button (click)="vote(0)" class="font-mono text-green-600 mb-2">vote🗳️</button>
				</div>
				<div *ngIf="proposals[1]" class="flex justify-between">
					<p class="font-mono mb-2">2. {{ proposals[1] }}</p>
					<button (click)="vote(1)" class="font-mono text-green-600 mb-2">vote🗳️</button>
				</div>
				<div *ngIf="proposals[2]" class="flex justify-between">
					<p class="font-mono mb-2">3. {{ proposals[2] }}</p>
					<button (click)="vote(2)" class="font-mono text-green-600 mb-2">vote🗳️</button>
				</div>
			</div>
			<div *ngIf="voted" class="m-4 font-mono border rounded-md border-red-500">
				<p>You have already voted with <span class="underline">{{ ballotVotingPower }}</span> tokens</p>
			</div>
			<div>
				<button *ngIf="ballotContract" (click)="getWinner()" class="mb-4 p-2 text-white text-sm font-sans border rounded-xl bg-blue-500">Get Winner</button>
				<p *ngIf="winner" class="text-lg mt-2">👑</p>
				<p *ngIf="winner" class="font-mono text-lg mb-4">{{ winner }}</p>
			</div>
		</div>
	</div>
</div>
